.jumbotron {
    background-color: pink;
    text-align: center;
    padding: 2rem 1rem;
}

.container {
    background-color: lightgrey;
}

body {
    color:white;
    background-image: url(full-bloom.png);
}

.btn.btn-primary.btn-lg {
    background-color: lightgray;
    border-color:white;
    margin: 5px;

}

.card {
    float: left;
}

.card-content {
    color: gray;
    height: 300px
}

p {
    color:gray
}

.card-text{
    color: lightgray;
}

.nav-wrapper {
    background-color: lightgrey;
}

#nav-mobile {
    display: contents;
}

.hide-on-med-and-down {
    display: contents;
}

.card {
    margin: 15px;
    width: 350px;
}

