.jumbotron {
    background-color: pink;
    text-align: center;
    padding: 2rem 1rem;
}

.nav-wrapper {
    background-color: lightgrey;
}

#nav-mobile {
    display: contents;
}

.hide-on-med-and-down {
    display: contents;
}

.container {
    background-color: lightgrey;
}

.index {
    display: flex
}

.resume {
    text-align: center;
}

hr{
    margin-top: -10px;
}

h5 {
    padding: 10px;
}

body {
    color:white;
    background-image: url(full-bloom.png);
}

/* .btn.btn-primary.btn-lg {
    background-color: lightgray;
    border-color:white;
    margin: 5px;
} */

.btn, .btn:hover {
    background-color: pink;
    margin: 20px
}

#submitDefBtn {
    color: gray
}

.card-content {
    color: gray;
}

p {
    color:gray
}

.card-text{
    color: lightgray;
}

.card {
    margin: 15px;
    width: 350px;
    float: left;
}

.newDefContent {
    height: 300px;
}